 

 .rating-color{
    color: #ffc908;
 }


.text-main{
    color: #088a08;
}
.border-main{
  border:1px solid #088a08;
}
 .bg-main{
  background-color: #088a08;
 }
 .product:hover{
    border:solid 1px #088a08;
}
.product:hover .btn{
    opacity: 1;
    transform: translateY(0%);
}
 
 .product .btn{
    opacity: 0;
    transition: all 0.3s;
    transform: translateY(100%);
 }

 a{
    text-decoration: none;
    color: black;
 }


 .network{
   font-size: 30px;
   position: fixed;
   bottom: 100px;
   right: 15px;
   background-color: black;
   padding: 15px;
   z-index: 2000;
 }